#boxofficeMain, #mvfooter{
    display: flex;

    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 1%;
    
}

#boxofficeMain{ 
    height: 600px;
}

#mvfooter{
    height: 150px; 
}

.sec, ul{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec {
    width: 100%;
    /* height: 13%; */
}

#mvinfo{
    width: 80%;
    height: 100%;
    border: 1px dotted #cb99c5;
}

.divDt{
    margin-top: 0%;
    width: 80%;
    height: 75px;
    background-color: rgb(253, 245, 255);
    border-radius: 10px ;
    border: 1px dotted #cb99c5;

    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type=date]{
    width: 40%;
    height: 50%;
}

select{
    width: 15%;
    height: 50%;
    margin-left: 10%;
}

ul{
    width: 50%;
    /* border: 1px dotted rgb(177, 177, 177); */
    padding: 2px;
}

.mvli{
    list-style-type: none;
    height:15px;
    width: 100%;
    margin: 0px 2px;
    padding: 22px;

    display: flex;

    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.mvli:hover{
    background-color: aliceblue;
    border-bottom: 1px solid rgb(158, 197, 231);
}

.rank{
    margin-right: 5%;

    width: 30px;
    height: 30px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 119);
    border-radius: 20%;
    font-size: small;
    color: white;
    padding-bottom: 2px;
}

.movieNM {
    width: 50%;
}
  
.openDt {
    width: 30%;
}
  
.rankInten {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spRed {
    color: red;
}
  
  .spBlue {
    color: blue;
}