*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;     /* padding 및 margin 설정이 width, height 내에서 설정되도록 */
}

header, main, footer{
    width: 80%;
    margin-left: 10%;
}

header,main {
    background-color: aliceblue;

}

main{
    padding-bottom: 1%;
}


/* 
부등호 header>ul 은 바로 아래 자식만 서칭
공백 header ul 은 하위 모든 자식 서칭  
*/

header, header ul {
    display: flex;              /* 여러 요소들을 수직, 수평 선택적으로 배치하기 위함 */
    flex-direction: row;        /*수평배치*/
    justify-content: space-between;     /*요소 사이들의 공간을 균일하게 분배 */
    align-items: center;        /* 수직 기준 위치 설정 */
}

header{
    height: 80px;
    
}

h1{
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 250%;
}

#artP{
    padding: 4%;
    line-height: 170%;
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 130%;
}
article p {
    padding: 30% 0%;
}

/* header ul{
    display: flex;
    flex-direction: row;   
    justify-content: space-between; 
} */

ul {
    list-style: none;   /* list 앞의 점 없애기 */

}

.munuLi {
    margin-right: 10px;
    margin-Left : 10px;
    padding: 10px;
    background-color: rgb(88, 137, 185);
    border-radius: 15px;
}

.munuLi:hover {
    background-color: rgb(150, 205, 224);
}

a {
    text-decoration: none;
    color: white;
}

article {
    padding: 60px;
}

h1, article>p {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

span{
    color: crimson;
    font-family: "Hahmlet", serif;
    font-weight: 500;
}

section{
    margin: 20px 40px 40px 40px;
    padding : 20px 40px 20px 40px;    /* 2개입력시 위/아래  왼/오 */
    background-color: white;
    border-radius: 15px;
}

h2 {
    padding-bottom: 10px;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 180%;
}
.secDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.secDiv > div {
    width: 20%;
    
}

.secDiv img{
    width: 90%;
    border-radius: 30%;
}
.secDiv > p {
    width: 80%;
    font-size: 80%;
    
    color: dimgray;
    padding-bottom: 5%;
    
}


footer{
    background-color: black;
    color: whitesmoke ;
    font-size: 75%;
    text-align: center;
    padding: 1% 0%;
}

@media screen and (max-width : 1024px) {
    header, main, footer{
        width: 100%;
        margin-left: 0px;
    }
}

@media screen and (max-width : 768px) {
    header, header ul {
        display: flex;              /* 여러 요소들을 수직, 수평 선택적으로 배치하기 위함 */
        flex-direction: column;        /*수평배치*/
        justify-content: space-between;     /*요소 사이들의 공간을 균일하게 분배 */
        align-items: center;        /* 수직 기준 위치 설정 */
        width: 100%;
    }
    

    header{
        height: auto;
        padding: 20px;
        

    }

    header li{
        width: 90%;
        margin-bottom: 5px;
        text-align: center;
    }

}