.sec{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 60%;
    height: 50px;
}

.sec > button {
    width: 10%;
    margin: 0.5% 1% 0% 1%;
}

#secBt4_2, #secBt4_1 {
    width: 20%;
}